<div class="mat-elevation-z4">
  <div class="footer">
    <mat-tab-group mat-align-tabs="center" class="content">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-store icon-title"></i>
          Sobre
        </ng-template>

        <div class="footer-content">
          <div>
            Na nossa pizzaria, oferecemos uma experiência única com pizzas artesanais, preparadas com ingredientes frescos e de qualidade.
            Com um cardápio diversificado, atendemos todos os paladares.
            Venha saborear nossas delícias em um ambiente acolhedor e descontraído. A sua satisfação é a nossa prioridade!
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-map-marker-alt icon-title"></i>
          Localização
        </ng-template>
        <div class="footer-content">
          <div>
            Rua Desconhecida, 999 - Bairro Centro <br>
            99999-000 <br>
            São Paulo - SP
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  <div class="redes mat-elevation-z4">
    <p>
      <a href=""><i class="fab fa-facebook"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-whatsapp-square"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-instagram"></i></a>
    </p>
  </div>
</div>
