h2 {
  color: #333;
}

table {
  width: 30vw;
}

table th {
  text-align: center;
}

table td {
  text-align: center;

}

tr.mat-footer-row {
  font-weight: bold;
}

.btn-dialog {
  display: flex;
  justify-content: flex-end;
  color: #333;
}

.btn-dialog button {
  background-color: #ffff8c;
}

.excluir {
  cursor: pointer;
}
