mat-form-field {
  width: 100%;
}

mat-label {
	color: #333;
}

.mat-form-field-subscript-wrapper{
	background-color: #333;
}

.numero {
  width: 30%;
}

.complemento {
  width: 70%;
}

.btn-dialog {
  display: flex;
  justify-content: flex-end;
  color: #333;
}

.btn-dialog button {
  background-color: #ffff8c;
}

@media screen and (max-width: 600px) {
  .btn-dialog{
    justify-content: center;
  }

  .btn-dialog button .span-icon {
    display: none;
  }

  button .dialog-icon {
    padding-right: 0;
  }
}
